body {
    font-family: 'Outfit', sans-serif;
    background-image: url(../imagens/fundo-site.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho .titulo {
    color: #f1ecff;    
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho .titulo .pokebola {
    width: 25px;
    height: 25px;
}

.pokemon-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 35px;
    min-height: 700px;
}

.pokemon-slider .btn-seta {
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;    
    box-shadow: rgba(71, 71, 106, 0.2) 0px 7px 29px 0px;
}

.pokemon-slider .btn-seta .imagem-seta {
    width: 80%;
}

.pokemon-slider .btn-seta:hover {
    background-color: #8351FE;
}

.pokemon-slider .btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.pokemon-slider .lista-pokemons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-slider .cartao {
    position: absolute;
    opacity: 0;
    border-radius: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    text-align: center;
    overflow: hidden;
    transition: opacity 0.4s ease-in-out;
    padding: 15px;
    max-width: 310px;
    min-height: 545px;
}

.fundo1 {
    background: url(../imagens/fundo-card-8.jpg) no-repeat;
}

.fundo2 {
    background: url(../imagens/fundo-card-7.jpg) no-repeat;
}

.fundo3 {
    background: url(../imagens/fundo-card-6.jpg) no-repeat;
}

.pokemon-slider .cartao.selecionado {
    opacity: 1;
}

.pokemon-slider .cartao .imagem-pokemon {
    padding: 20px;
    width: 100%;
}

.pokemon-slider .cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    padding: 10px;
    display: flex;
    align-items: center;    
    justify-content: space-between;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pokemon-slider .cartao .informacoes .vida {
    display: flex;
    align-items: center;
    color: white;
    background-color: #333333;
    /* background-color: #75c543; */
    border-radius: 20px;
    padding: 6px 10px;
}

.pokemon-slider .cartao .informacoes .nome {
    color: white;
    font-size: 1.4em;
}

.pokemon-slider .cartao .descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokemon-slider .cartao .descricao .titulo {
    background-color: #333333;
    color: white;
    padding: 12px;
    font-size: 15px;    
    text-align: left;
}

.pokemon-slider .cartao .descricao .texto {
    width: 200px;
    font-size: 12px;
    width: 250px;
    font-size: 0.8rem;
    text-align: left;
    padding: 12px;
    width: 100%;
    text-align: justify;
}

/* https://pokemonnewscenter.com.br/pokemon-disponiveis-unite/ */




@media (max-width: 900px) {
    .pokemon-slider {
        justify-content: space-between;
        padding: 0 5px;
    }

    .pokemon-slider .cartao {
        width: 70%;
    }

    .pokemon-slider .btn-seta {
        width: 3rem;
        height: 3rem;
    }
}