@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #860A9F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23860A9F' width='11' height='11'/%3E%3Crect fill='%23850b9e' x='10' width='11' height='11'/%3E%3Crect fill='%23840b9d' y='10' width='11' height='11'/%3E%3Crect fill='%23830c9b' x='20' width='11' height='11'/%3E%3Crect fill='%23820c9a' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23810d99' y='20' width='11' height='11'/%3E%3Crect fill='%23800d98' x='30' width='11' height='11'/%3E%3Crect fill='%237f0d97' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%237e0e95' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%237e0e94' y='30' width='11' height='11'/%3E%3Crect fill='%237d0f93' x='40' width='11' height='11'/%3E%3Crect fill='%237c0f92' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%237b0f91' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%237a108f' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2379108e' y='40' width='11' height='11'/%3E%3Crect fill='%2378108d' x='50' width='11' height='11'/%3E%3Crect fill='%2377118c' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2376118b' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23751189' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23741188' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23731287' y='50' width='11' height='11'/%3E%3Crect fill='%23721286' x='60' width='11' height='11'/%3E%3Crect fill='%23711285' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23711284' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23701382' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%236f1381' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%236e1380' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%236d137f' x='70' width='11' height='11'/%3E%3Crect fill='%236c137e' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%236b147d' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%236a147c' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2369147a' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23681479' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23671478' x='80' width='11' height='11'/%3E%3Crect fill='%23661477' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23661476' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23651575' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23641573' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23631572' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23621571' x='90' width='11' height='11'/%3E%3Crect fill='%23611570' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2360156f' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%235f156e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%235e156d' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%235d156c' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%235d156a' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%235c1669' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%235b1668' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%235a1667' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23591666' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23581665' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23571664' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23561663' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23551662' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23541660' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2354165f' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2353165e' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2352165d' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2351165c' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2350165B' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho .titulo {
    color: #f1ecff;
    text-align: center;
}

.cabecalho .titulo span {
    color: #723EF8;
}

.pokemon-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 35px;
    min-height: 700px;
}

.pokemon-slider .btn-seta {
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

.pokemon-slider .btn-seta .imagem-seta {
    width: 80%;
}

.pokemon-slider .btn-seta:hover {
    background-color: #8351FE;
}

.pokemon-slider .btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.pokemon-slider .lista-pokemons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-slider .cartao {
    position: absolute;
    opacity: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    max-width: 310px;
    background: url(../imagens/bg.jpg) no-repeat;
}

.pokemon-slider .cartao.selecionado {
    opacity: 1;
}

.pokemon-slider .cartao .imagem-pokemon {
    padding: 20px;
    width: 100%;
}

.pokemon-slider .cartao .informacoes {
    background-color: #8351FE;
    border-top: 10px solid #723EF8;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 55px;
    gap: 10px;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pokemon-slider .cartao .informacoes .vida {
    display: flex;
    align-items: center;
    gap: 5px;    
    color: white;
    background-color: #75c543;
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
}

.pokemon-slider .cartao .informacoes .nome {
    color: white;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.pokemon-slider .cartao .descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(113, 53, 162, 0.7)
}

.pokemon-slider .cartao .descricao .titulo {
    background-color: aliceblue;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    text-align: left;
    text-transform: uppercase;
}

.pokemon-slider .cartao .descricao .texto {
    width: 200px;
    font-size: 12px;
    width: 250px;
    font-size: 12px;
    text-align: left;
    padding: 5px;
    width: 100%;
    color: white;
}

/* https://pokemonnewscenter.com.br/pokemon-disponiveis-unite/ */




@media (max-width: 900px) {
    .pokemon-slider {
        justify-content: space-between;
        padding: 0 5px;
    }

    .pokemon-slider .cartao {
        width: 70%;
    }    

    .pokemon-slider .btn-seta{
        width: 3rem;
        height: 3rem;
    }
}