body {
  font-family: "Outfit", sans-serif;
  background-image: url(../imagens/fundo-site.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
}

.cabecalho .titulo {
  color: #f1ecff;
}

.cabecalho .pokebola {
  width: 25px;
  height: 25px;
}

.pokemon-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 60px 0;
}

.lista-pokemons {
  width: 310px;
  height: 520px;
  position: relative;
}

.btn-seta {
  background-color: white;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
  transform: rotateY(180deg);
}

.btn-seta:hover {
  background-color: #8351fe;
}

.cartao {
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
  opacity: 1;
  z-index: 1;
}

.fundo-1 {
  background: url(../imagens/fundo-card-1.jpg) no-repeat;
}

.fundo-2 {
  background: url(../imagens/fundo-card-2.jpg) no-repeat;
}

.fundo-3 {
  background: url(../imagens/fundo-card-3.jpg) no-repeat;
}

.cartao .informacoes {
  background-color: rgba(179, 177, 185, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cartao .informacoes .vida {
  background-color: #333333;
  color: white;
  border-radius: 20px;
  padding: 6px 10px;
}

.cartao .informacoes .nome {
  color: white;
  font-size: 22px;
}

.cartao .container-imagem {
  text-align: center;
}

.cartao .imagem-pokemon {
  max-width: 100%;
  max-height: 280px;
  padding: 20px;
}

.cartao .descricao {
  background: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cartao .descricao .titulo {
  background-color: #333333;
  font-size: 15px;
  color: white;
  padding: 12px;
}

.cartao .descricao .texto {
  font-size: 14px;
  padding: 12px;
  text-align: justify;
  max-height: 115px;
  overflow-y: auto;
}
