body {
    font-family: 'Outfit', sans-serif;
	background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;	
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 0;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cabecalho .titulo {
    color: #f1ecff;        
}

.cabecalho .pokebola {
    width: 25px;
    height: 25px;
}

.pokemon-slider { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 700px;
}

.cartao {
    position: absolute;
    max-width: 310px;
    /* min-height: 545px; */
    padding: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.btn-seta {
    background-color: white;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    box-shadow: rgba(71, 71, 106, 0.2) 0px 7px 29px 0px;  
    transition: background-color 0.2s ease-in-out;        
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #8351FE;
}

.lista-pokemons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-1 {
    background: url(../imagens/fundo-card-1.jpg) no-repeat;
}

.fundo-2 {
    background: url(../imagens/fundo-card-2.jpg) no-repeat;
}

.fundo-3 {
    background: url(../imagens/fundo-card-3.jpg) no-repeat;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;    
    justify-content: space-between;    
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cartao .informacoes .vida {    
    background-color: #333333;    
    color: white;
    border-radius: 20px;
    padding: 6px 10px;
}

.cartao .informacoes .nome {
    color: white;
    font-size: 1.4em;    
}

.cartao .container-imagem {
    text-align: center;
}

.cartao .imagem-pokemon {
    padding: 20px;
    max-height: 260px;
    max-width: 100%;
}


.cartao .descricao {        
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .descricao .titulo {
    background-color: #333333;
    color: white;
    padding: 12px;
    font-size: 1rem;        
}

.cartao .descricao .texto {        
    font-size: 0.8rem;    
    padding: 12px;    
    text-align: justify;
    max-height: 120px;
    overflow-y: auto;
}

@media (max-width: 900px) {

    .pokemon-slider {
        justify-content: space-between;
        padding: 0px 15px;
    }

    .cartao {
        width: 60%;
        min-height: 445px;
    }

    .btn-seta {
        width: 48px;
        height: 48px;
    }

    .cartao .informacoes .nome{
        max-width: 50%;
        font-size: 1em;
    }
}